body {
    background-color: #BBFDA2;
    font-family: 
    'Lucida Sans Unicode'
  }
  h2 {
    color: rgb(0, 0, 0);
    font-family:'Comic Sans MS'
  }
h1{
    font-family:'Comic Sans MS'
}
 